@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;800&display=swap");

* {
    box-sizing: content-box;
}

body, html {
    font-family: "Montserrat", sans-serif;
}

.container {
    max-width: 800px;
    padding: 1em;
    margin: 1em auto;
    width: 100%;
    font-size: 16px;

}

.mainDescriptionBorderGreen {
    border:8px solid green;
    border-radius: 3px;
    padding: 1em;
    margin-bottom: 1em;
}
.mainDescriptionBorderGreenLight {
    border:3px solid green;
    border-radius: 3px;
    padding: 1em;
    margin-bottom: 1em;
}

.mainDescription ul {
    margin: 1em;
    padding: 0;
}

.mainDescription ul li {
    margin-bottom: 1em;   
}

.examTopic {
    margin-bottom: 1.5em;
}
.examTopic h3 {
    background-color: lime;
    width: 230px;
    border-left: 3px solid green;
    border-top: 3px solid green;
    border-right: 3px solid green;
    border-bottom: 0;
    padding: 0.5em;
    margin-bottom: 0;
}

.examTopic p {
    border-top: 3px solid green;
    margin-top: 0;
    padding-top: 0.5em;
}




form label {
    display: inline-block;
    vertical-align: middle;
}
form input[type="radio"] {
    margin: 1em;
}