@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;800&display=swap");

:root {
    --grey-title-text: #656565;
    --grey-border-line:#cbcbcb;
    --grey-number-label: #cbcbcb;
    --blue-number-background: #044f79;
    --white-number-over-blue: #fff;
    --orange-middle-school:#f6893f;
    --green-high-school:#47bfad;
}

* {
    box-sizing: content-box;
}

body, html {
    font-family: "Montserrat", sans-serif;
}


form label {
    display: block;
    width: 38px;
    height: 20px;
    border-radius: 0 0 15px 15px;
    margin: 0 auto;
    cursor: pointer;
    color: var(--grey-number-label);
    font-weight: bold;
    font-size: 18px;
    background-position: center;
    background-size: 30px 30px;
    background-color: var(--white-number-over-blue);
    background-repeat: no-repeat;
    padding: 0.1em 0;
}



form input[type="radio"] {
    display: none;
}
form input:checked + label {
    background:var(--blue-number-background);
    color:#fff;
    font-weight: bold;
    border-radius: 15px 15px 0 0;
}

form input:checked ~ label {
    background-color: var(--blue-number-background);
}

form label.option1 {
    background-image: url("../img/1-face.png"); 
    height:38px;
}
form label.option2 {
    background-image: url("../img/2-face.png");
    height:38px;
}
form label.option3 {
    background-image: url("../img/3-face.png");
    height:38px; 
}
form label.option4 {
    background-image: url("../img/4-face.png");
    height:38px;
}







form button[type="submit"] {
    background-color: var(--orange-middle-school);
    border: 0;
    padding: 0.5em 1em;
    color:white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1.2em;
    font-weight: bold;
}

form.greenTone button[type="submit"] {
    background-color: #47bfad;
   
}

form button[type="submit"]:hover {
    transform: scale(1.1);
}


.container {
    max-width: 800px;
    padding: 1em;
    margin: 1em auto;
    width: 100%;
    font-size: 16px;

}

.container h1 {
    margin-top: 2em;
    margin-bottom: 0;
    color: var(--grey-title-text);
}

.container p {
    color: var(--grey-title-text);
    margin: 0.3em;
}

.container p strong {
    font-weight: 600;
}

.container h4 {
    margin-top: 0;
    margin-bottom: 2em;
}

.mainDescriptionBorderOrange {
    border:8px solid var(--orange-middle-school);
    border-radius: 3px;
    padding: 1em;
    margin-bottom: 1em;
}
.mainDescriptionBorderGreen {
    border:8px solid var(--green-high-school);
    border-radius: 3px;
    padding: 1em;
    margin-bottom: 1em;
}


.individualQuestion {
    display: grid;
    grid-template-columns: 10% 45% 45% ;
   
}

.buttonSendForm {
    text-align: center;
}

.questionsInterest h2 {
    background-color: var(--orange-middle-school);
    color: white;
    padding: 1em 0.5em;
    border-radius: 10px;
    text-shadow: 1px 2px 3px rgb(58, 57, 57);
}

.questionsInterest h2.GreenBackgroundArea {
    background-color: var(--green-high-school);
}

.individualQuestion {
    display: grid;
    grid-template-columns: 60px 50% 10% 10% 10% 10%;
    margin: 2em auto;
    padding: 1em 0;
}

.borderLine {
    border: 2px dashed var(--grey-border-line);
} 

.individualQuestion.rowLayout {
    display: grid;
    grid-template-columns: 40px 50%;
}

.individualQuestion.fourBlocks {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.individualQuestion.sevenBlocks {
    display: grid;
    grid-template-columns: 40px 30% 10% 10% 10% 10% 10%;
}

.individualQuestion.fourBlocks {
    width: 100%;
    height: auto;
    margin-bottom: 0.5em;
}

.individualQuestion.fourBlocks label {
    width: auto;
    height: auto;
    margin: 1em 0.5em;
    border: 0;
    text-align: left;
    border-radius: 0;
}


.individualQuestion .qNumber {
    text-align: center;
    color: var(--white-number-over-blue);
    background-color: var(--blue-number-background);
    height: 50px;
    padding-top: 14px;
    font-size: 28px;
}

.individualQuestion .qDescription {
    padding: 1em 1em 0 1em;
    color: var(--grey-title-text);
    font-size: 14px;
    vertical-align: middle;
}

.individualQuestion.blackBorder {
    border-bottom: 1px solid black;
}

.individualQuestion .qRadio {
    text-align: center;
    vertical-align: top;
       
}

.individualQuestion .qRadio span {
    font-size: 13px;
}


.individualQuestion .qRadio .numberRadio {
    border: 1px solid black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 0.5em;
    margin: 0 auto;
}

.individualQuestion.rowLayout .qRadio {
    display: block;
    margin: 1em;
}

.individualQuestion.rowLayout label {
    width: 100%;
    height: auto;
    border: 0;
    border-radius: 0;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

.circleDecorationNumeral {
    background-color: var(--orange-middle-school);
    color:white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    padding: 0.5em;
    
}

.greenBackground {
    background-color: var(--green-high-school);
}




