@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;800&display=swap");

:root {
    --grey-title-text: #656565;
    --grey-border-line:#cbcbcb;
    --grey-number-label: #cbcbcb;
    --blue-number-background: #044f79;
    --white-number-over-blue: #fff;
   
}

* {
    box-sizing: content-box;
}

body, html {
    font-family: "Montserrat", sans-serif;
}


form label {
    display: block;
    width: 38px;
    height: 20px;
    border-radius: 0 0 15px 15px;
    margin: 0 auto;
    cursor: pointer;
    color: var(--grey-number-label);
    font-weight: bold;
    font-size: 18px;
    background-position: center;
    background-size: 30px 30px;
    background-color: var(--white-number-over-blue);
    background-repeat: no-repeat;
    padding: 0.1em 0;
}



form input[type="radio"] {
    display: none;
}
form input:checked + label {
    background:var(--blue-number-background);
    color:#fff;
    font-weight: bold;
    border-radius: 15px 15px 0 0;
}

form input:checked ~ label {
    background-color: var(--blue-number-background);
}

form label.option1 {
    background-image: url("../img/1-face.png"); 
    height:38px;
}
form label.option2 {
    background-image: url("../img/2-face.png");
    height:38px;
}
form label.option3 {
    background-image: url("../img/3-face.png");
    height:38px; 
}
form label.option4 {
    background-image: url("../img/4-face.png");
    height:38px;
}

form .endButton {
    text-align: right;
    margin-top: 2em;
}
form button[type="submit"] {
    background-color: var(--blue-number-background);
    border: 0;
    padding: 0.5em 1em;
    color:white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1.2em;
    font-weight: bold;

}


form button[type="submit"]:hover {
    transform: scale(1.1);
}


.container {
    max-width: 800px;
    padding: 1em;
    margin: 1em auto;
    width: 100%;
    font-size: 16px;

}

.container h1 {
    margin-top: 2em;
    margin-bottom: 0;
    color: var(--grey-title-text);
}

.container p {
    color: var(--grey-title-text);
    margin: 0.3em;
}

.container p strong {
    font-weight: 600;
}

.container h4 {
    margin-top: 0;
    margin-bottom: 2em;
}


.menuFaces {
    width: 100%;
    background-color: #f3f3f3;

}

.menuFaces.fixedTop {
    position: fixed;
    top: 0;
}

.menuFaces.fixedTop .facesDescription {
    padding: 0.5em;
}

.facesDescription {
    display: grid;
    grid-template-columns: 10% 14% 10% 14% 10% 14% 10% 14%  ;
    margin: auto;
    padding: 1.5em;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: var(--grey-number-label);
    max-width: 800px;
}



.facesDescription div {
    position: relative;
}
.facesDescription img {
    display: block;
    width: 45px;
    height: 45px;
    margin: 0 auto;
}

.facesDescription p {
    font-size: 14px;
    font-weight: normal;
    text-align: left;
    color: var(--blue-number-background);
    position: absolute;
    bottom: 10px;

}

.mainDescriptionBorderOrange {
    border:8px solid var(--orange-middle-school);
    border-radius: 3px;
    padding: 1em;
    margin-bottom: 1em;
}


.individualQuestion {
    display: grid;
    grid-template-columns: 10% 45% 45% ;
   
}

.buttonSendForm {
    text-align: center;
}

.questionsInterest h2 {
    background-color: var(--blue-number-background);
    color: white;
    padding: 1em 0.5em;
    border-radius: 10px;
    text-shadow: 1px 2px 3px rgb(58, 57, 57);
}



.individualQuestion {
    display: grid;
    grid-template-columns: 60px 50% 10% 10% 10% 10%;
    margin: 2em auto;
    padding: 1em 0;
}

.borderLine {
    border: 2px dashed var(--grey-border-line);
} 





.individualQuestion .qNumber {
    text-align: center;
    color: var(--white-number-over-blue);
    background-color: var(--blue-number-background);
    height: 50px;
    padding-top: 14px;
    font-size: 28px;
}

.individualQuestion .qDescription {
    padding: 1.7em 1em 0 1em;
    color: var(--grey-title-text);
    font-size: 14px;
    vertical-align: middle;
}

.individualQuestion.blackBorder {
    border-bottom: 1px solid black;
}

.individualQuestion .qRadio {
    text-align: center;
    vertical-align: top;
       
}

.individualQuestion .qRadio span {
    font-size: 13px;
}


.individualQuestion .qRadio .numberRadio {
    border: 1px solid black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 0.5em;
    margin: 0 auto;
}





