@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;800&display=swap");

* {
    box-sizing: content-box;
}

:root {
    --gray--main-titles: #626262;
    --blue-main-color: #004e74;
    --green-selected-input: #8bbe57;
}

body, html {
    font-family: "Montserrat", sans-serif;
}

.container {
    max-width: 800px;
    padding: 1em;
    margin: 1em auto;
    width: 100%;
    font-size: 16px;

}

.container h1 {
    margin-top: 2em;
    margin-bottom: 0;
    color: var(--gray--main-titles);
}

.container h4 {
    margin-top: 0;
    margin-bottom: 0.2em;
    color: var(--gray--main-titles);
    font-weight: 600;
}

.container p.descriptionText {
    color:var(--blue-main-color);
}

form label {
    display: inline-block;
    vertical-align: middle;
    width: 90%;
    color: var(--gray--main-titles);
}

form label .circle {
    width: 12px;
    height: 12px;
    border: 2px solid grey;
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;
    margin-top: 8px;
    margin-right: 10px;
    text-align: center;
    padding: 1px;
}

form label .labelDescription {
    display: inline-block;
    width: 90%;
    vertical-align: top;
}

form input[type="radio"] {
    display: none;
    margin: 0.3em 1em;
    color: red;
}


form input:checked + label .circle span {
    background:var(--green-selected-input);
    display: inline-block;
    width: 11px;
    height: 11px;
    border-radius: 50%;
   
    
    
  }

.individualQuestion {
    display: grid;
    grid-template-columns: 10% 90% ;
   margin-bottom: 1em;
   margin-top: 1em ;
   

}

.questionNumber {
    background-color:var(--blue-main-color);
    color: white;
    text-align: center;
    font-size: 25px;
}

.questionOption {
    padding: 0.5em 1em;
}

.buttonSendForm {
    text-align: center;
}


form button[type="submit"] {
    background-color: blue;
    border: 0;
    padding: 0.5em 1em;
    color:white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1.2em;
}

form button[type="submit"]:hover {
    transform: scale(1.1);
}

